

  h2 {
    color: #2c3e50;
    margin-bottom: 30px;
  }

  .panel {
    background-color: white;
    border-radius: 12px !important;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
    position: relative;
    margin-left: 250px;
    padding: 30px;
  }

  .emp-info small {
    display: block;
    color: #777;
  }

  .label-pastel {
    background-color: #E4D5E3;
    color: #2c3e50;
    font-weight: normal;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
  }

  .top-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .modal-header {
    background-color: #EDCFC0;
  }

  .btn-pastel {
    background-color: #EDCFC0;
    color: #2c3e50;
    border: none;
  }

  .action-icons {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .action-icons i {
    margin-left: 10px;
    cursor: pointer;
  }

  .pagination {
    text-align: center;
  }

  .pagination li a {
    color: #2c3e50;
  }

  .pagination .active a {
    background-color: #EDCFC0;
    border-color: #EDCFC0;
    color: #2c3e50;
  }

  body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f7f8fa;
    color: #2c3e50;
    padding-top: 60px;
    }
    
    .navbar-inverse {
    background-color: #333;
    border: none;
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    }
    
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    }
    
    .sidebar {
    width: 230px;
    height: 100vh;
    background-color: #f4f4f4;
    position: fixed;
    padding: 30px 20px;
    color: #2c3e50;
    border-right: 1px solid #e0e0e0;
    }
    
    .sidebar h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #2c3e50;
    }
    
    .sidebar ul li a {
    color: #333;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    transition: 0.3s ease;
    }
    
    .sidebar ul li.active a,
    .sidebar ul li a:hover {
    background-color: #e8e8e8;
    color: #000;
    font-weight: bold;
    }
    
    .main-content {
    margin-left: 250px;
    padding: 30px;
    }