<!DOCTYPE html>
<html lang="en" ng-app="supportApp">

<head>
  <meta charset="UTF-8">
  <title>Support Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="css/support.css">
  <style>
    
  </style>
</head>

<body ng-controller="SupportController">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="dashboard.html"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="login.html"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="sidebar">
    <h4>Honey Bee</h4>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="leadinfo.html">Leads</a></li>
      <li><a href="deals.html">Deals</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="tasks.html">Tasks</a></li>
      <li><a href="notes.html">Notes</a></li>
      <li><a href="customer.html">Customers</a></li>
      <li><a href="contacts.html">Contacts</a></li>
      <li><a href="call-logs.html">Call Logs</a></li>
      <li><a href="organisation.html">Organisation</a></li>
      <li><a href="employees.html">Employee</a></li>
      <li><a href="managers.html">Managers</a></li>
      <li><a href="teams.html">Teams</a></li>
      <li class="active"><a href="supportmgt.html">Support</a></li>
      <li><a href="analytics.html">Reports</a></li>
      <li><a href="settings.html">Settings</a></li>
    </ul>
  </div>
  <div id="unauthorized-message" style="display:none; text-align:center; margin-top:50px;">
    <h2 style="color: red;">You're not authorized to view this page.</h2>
    <a href="login.html" class="btn btn-primary">Go to Login</a>
  </div>
  <div class="main">
    <h2>Support Tickets</h2>

    <div class="form-inline" style="margin-bottom: 15px;">
      <input type="text" ng-model="searchText" placeholder="Search by subject..." class="form-control">
      <select ng-model="filterStatus" class="form-control">
        <option value="">All</option>
        <option value="Open">Open</option>
        <option value="In Progress">In Progress</option>
        <option value="Closed">Closed</option>
      </select>
      <button class="btn btn-primary" ng-click="sortBy('subject')">Sort by Subject</button>
      <button class="btn btn-success pull-right" data-toggle="modal" data-target="#addTicketModal">
        <i class="fa fa-plus"></i> New Ticket
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Subject</th>
          <th>Raised By:</th>
          <th>Status</th>
          <th>Created Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ticket in tickets | filter:{subject: searchText} | filter:statusFilter | orderBy:sortKey" ng-click="selectTicket(ticket)">
          <td>#{{ticket.id}}</td>
          <td>{{ticket.subject}}</td>
          <td>{{ticket.customer}}</td>
          <td ng-class="{'status-open': ticket.status === 'Open', 'status-inprogress': ticket.status === 'In Progress', 'status-closed': ticket.status === 'Closed'}">{{ticket.status}}</td>
          <td>{{ticket.createdDate}}</td>
        </tr>
      </tbody>
    </table>

    <div class="details" ng-if="selectedTicket">
      <h3>Ticket Details</h3>
      <p><strong>Subject:</strong> {{selectedTicket.subject}}</p>
      <p><strong>Customer:</strong> {{selectedTicket.customer}}</p>
      <p><strong>Status:</strong> {{selectedTicket.status}}</p>
      <p><strong>Description:</strong></p>
      <p>{{selectedTicket.description}}</p>
    </div>
  </div>

  <!-- New Ticket Modal -->
  <div class="modal fade" id="addTicketModal" tabindex="-1" role="dialog" aria-labelledby="addTicketLabel">
    <div class="modal-dialog" role="document">
      <form ng-submit="addTicket()" class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addTicketLabel">Add New Ticket</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Subject</label>
            <input type="text" ng-model="newTicket.subject" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Customer</label>
            <input type="text" ng-model="newTicket.customer" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Status</label>
            <select ng-model="newTicket.status" class="form-control" required>
              <option value="Open">Open</option>
              <option value="In Progress">In Progress</option>
              <option value="Closed">Closed</option>
            </select>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea ng-model="newTicket.description" class="form-control" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Add Ticket</button>
        </div>
      </form>
    </div>
  </div>

  <script src="js/support.js">
    
  </script>

  <!-- Bootstrap & jQuery (in correct order) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
